[user]
  name = shoheikawano
  email = mail.shoheikawano@gmail.com
[color]
  ui = auto
[pull]
  rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
